{% extends 'base.twig' %}

{% block body %}
<div class="container">
 <h1>Create User</h1>
 <form method="post" id="form">
  <div class="form-floating">
 <input type="text" id="name" name="name" class="form-control" placeholder="Name">
 <label for="name">Name</label>
</div>
<div class="form-floating">
 <input type="text" id="email" name="email" class="form-control" placeholder="Email">
 <label for="email">Email</label>
</div>
 </form>
 <div class="d-flex justify-content-between">
  <a class="btn btn-secondary" href="{{ path('user.index') }}">Back to List</a>
  <button type="submit" form="form" class="btn btn-primary">Create</button>
 </div>
</div>
{% endblock %}
