{% extends 'base.twig' %}

{% block body %}
<div class="container">
<h1>Edit User</h1>

<form method="post">
<div class="form-floating">
 <input type="text" id="name" name="name" class="form-control" placeholder="Name">
 <label for="name">Name</label>
</div>
<div class="form-floating">
 <input type="text" id="email" name="email" class="form-control" placeholder="Email">
 <label for="email">Email</label>
</div>
<div class="">
  <div>Roles</div>
  <span>{{user.roles}}</span>
</div>
<div class="">
  <div>CreateAt</div>
  <span>{{user.createAt}}</span>
</div>
<div class="">
  <div>UpdatedAt</div>
  <span>{{user.updatedAt}}</span>
</div>
</form>

<a class="btn btn-primary" href="{{ path('user.index') }}">Back to List</a>
</div>
{% endblock %}
